DOMAIN_NAME=thedemocratictravelers.com
AWS_ACCESS_KEY_ID=superkey!
AWS_SECRET_ACCESS_KEY=supersecretaccesskey!
S3_BUCKET=abucket!
API_BASE=http://www.democratictravelers.dev/api/v1/
MAPBOX_ACCESS_TOKEN=your_mapbox_access_token_here
