<!-- SIGN IN/UP PANE -->
<div id="pane-auth" class="pane">
  <h2>Get Started</h2>
	<p class="lead">Sign in or sign up to start suggesting places for us to see! <small>(<a href="#" id="auth-explanation" data-toggle="popover" data-html="true" data-content="<p><small>This helps us to keep out riff-raff like spammers/scammers. Don't worry, we're not going to post anything on your feed.</small></p>">Why?</a>)</small></p>
			
	<%= render 'devise/sessions/form' %>
			
	<%= render 'devise/registrations/form' %>
			
</div>