<div id="stats" class="container-fluid black">
	<h4 style="text-align:center">Days Traveling: <span><%= (Time.now.to_date - ("2013-02-01 09:00:0 +0500").to_date).to_i  %></span> | Suggestions Done: <span><%= @finished.count %></span> | States Visited: <span><%= @states.count %></span></h4>
</div><!-- #stats -->