<ul class="nav nav-list">
  <li class="nav-header">Blog shit</li>
  <li><%= link_to raw("<i class='icon-folder-open'></i> View all blog posts"), admin_posts_path %></li>
  <li><%= link_to raw("<i class=' icon-file'></i> New Post"), new_admin_post_path %></li>
</ul>
