<main>
  <div class="site-credits">
    <h3 class="structural">Credits:</h3>
    <p>Special thanks to John's mom, Patsy for generously donating Loretta to the cause. We love you. Also, <%= link_to "Shane Zucker", "http://www.iknowhowtorock.com", class: "external", target: "_blank" %>, for his help in brainstorming this idea and getting the first version of the site off the ground.</p>
    <p>Of course, we couldn't do it without those of you who put a pin on our map or voted on someone else's suggestion.</p>
    <p><strong>So thank you</strong>, <%= @users.map{|u| (link_to u.short_name, user_path(u.username))}.to_sentence.html_safe %></p>

    <hr>

    <p class="centered"><a href="http://www.seriouslyawesome.com" class="external" target="_blank"><%= image_tag "seriouslyawesome.png" %></a></p>
    <p class="centered"><small>This site is built with <a href="http://www.rubyonrails.org" class="external" target="_blank">Ruby on Rails</a>, <a href="http://bourbon.io" class="external" target="_blank">Bourbon (Neat, with Bitters)</a>, <a href="http://www.jquery.com" class="external" target="_blank">jQuery</a>, <a href="https://developers.google.com/maps/documentation/javascript/" class="external" target="_blank">Google</a>, and <a href="http://www.mapbox.com/" class="external" target="_blank">Mapbox</a>, with web fonts powered by <a href="http://www.typekit.com" class="external" target="_blank">TypeKit</a>.</small></p>
  </div>
</main>