<% title 'Page Not Found' %>
<% meta_description 'This is a dead link. Bummer.' %>

<div class="centered row">
  <h1 class="structural">Dead End</h1>
  <p>Somehow we've gotten off course!<br />Time to <%= link_to "backtrack...", root_path %></p>
</div>