<% title 'Blowout!' %>
<% meta_description 'We\'re having some internal issues here.' %>

<div class="centered row">
  <h1 class="structural">Blow Out!</h1>
  <p>Something in the engine just fell off. Really sorry about that. We'll have our mechanic check it out. <%= link_to "Head back...", root_path %></p>
</div>