@import "blog/utilities";
@import "blog/hero";
@import "blog/sidebar";
@import "blog/post_list";
@import "blog/post";
@import "blog/home";

#instagrams {
  position: relative;
  width: 100%;
  padding: 0;
  background: image-url('loading.gif') no-repeat center center;
  line-height: 0;

  a.social.instagram {
    display: inline-block;
    width: 25%;
    min-height: $baseline * 2.5;
    height: 25%;
    background: none no-repeat center center;
    background-size: cover;
    text-indent: -99999px;
    img { width: 100%; }
  }
}

body.categories,
body.posts {
  #instagrams {
    height: 20%;
    min-height: $baseline * 10;
  }
}
